@use "../abstracts" as *;

body {
    background-color: var(--clr-bg-body);
    color: var(--clr-fc-primary);
    font-family: $ff-primary;
    position: relative;
}

body::before {
    background-color: var(--clr-bg-body-pattern);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    content: "";
    display: block;
    height: 235px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

main {
    display: flow-root;
}

h1, h2 {
    margin-block-start: 0;
}