@use "../abstracts" as *;

.color-mode__toggle-box {
    align-items: center;
    border-top: 1px solid var(--clr-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 1.375em;
    padding-block: 1em;
}

.color-mode__label {
    color: var(--clr-fc-secondary);
    display: inline-block;
    font-size: $fs-300;
    font-weight: $fw-700;
}

.color-mode__toggle {
    background: linear-gradient(to right, $clr-toggle-dark);
    border-radius: 25px;
    cursor: pointer;
    height: 24px;
    position: relative;
    width: 48px;
}

[aria-checked="false"]#cmPref::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: var(--clr-bg-body-pattern);
    border-radius: 50%;
    transform-origin: center;
    transition: translateY(0) ease-in-out 3s;
}

[aria-checked="true"]#cmPref::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: var(--clr-bg-body-pattern);
    border-radius: 50%;
    transform-origin: center;
    transition: translateY(100%) ease-in-out 3s;
}

.color-mode__toggle:hover[aria-checked="false"]#cmPref::before,
.color-mode__toggle:focus-visible[aria-checked="false"]#cmPref::before,
.color-mode__toggle:hover[aria-checked="true"]#cmPref::before,
.color-mode__toggle:focus-visible[aria-checked="true"]#cmPref::before {
    background-color: var(--clr-toggle-hover);
} 

@media screen and (min-width: $mq-desktop) {
    
    .color-mode__toggle-box {
        border-top: 0;
    }

    .color-mode__label {
        margin-inline-end: .875em;
    }

}